.nav-bar-wrapper {
  padding: 0 16px;
  background-color: #202020;
  box-shadow: -1px 2px 9px 0px black;
  position: relative;
  border-top: solid 1px #0000005c;
  z-index: 2;
  button {
    background-color: #202020;
    color: white;
    font-size: 24px;
  }
  .active-route {
    color: orange;
  }
}

