html,
body {
  height: 100%;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.layout-wrapper {
  height: 100%;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  height: 0px;
  background: transparent;  /* Optional: just make scrollbar invisible */
}
